AUTH0_DOMAIN=dev-0ys2yshdgc1fp5zk.us.auth0.com
AUTH0_CLIENT_ID=your-client-id
AUTH0_CLIENT_SECRET=your-client-secret
AUTH0_CALLBACK_URL=http://localhost:8000/api/auth/callback
APP_URL_ADMIN=http://localhost:3000
APP_URL_CUSTOMER=http://localhost:3001
JWT_SECRET_KEY=change-me-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=15
